
<div class="container"> 
    <div class="row" id="welcome_note"> 
        <div class="col-12 col-sm-6">
            <img src="spha1.jpeg" alt="Avatar">
        </div>
        <div class="col-12 col-sm-6" id="bit_about_me">
            <h1>Hello</h1>
            <h3>A Bit About Me</h3>
            <p>I'm Software Developer intern at App Factory UWC<br>
             Striving to build dynamic web-apps using Agile Methodology<br>
             I am enthusiastic about fullstack development.</p>
              <div class="routing">
                  <a href="Resume"><div class="cicle1">Resume</div></a>
                  <a href="View"><div class="cicle2">Projects</div></a>
                  <a href="contact"><div class="cicle3">Contact</div></a>
              </div>
        </div>
    </div>
</div>


