<div class="container"> 
    <div class="row"> 
        <div class="col-12 col-sm-6" id="formHeading"> 
            <p id="contact_heading">Contact</p>
            <p>Looking forward to hear from you</p>
            <p id="phone">Phone</p>
            <p>+27 67 056 5569</p>
            <p id="email">Email</p>
            <p>mpalalasiphamandla@gmail.com</p>
        </div>

        <div class="col-12 col-sm-6" id="fill_in_form"> 

        <form action="Form" method="POST">

          <div class="pass">
          <input type="text" class="form-control" name="name"
          placeholder="First name" id="exampleInputPassword1" style="font-family:'Times New Roman', Times, serif; text-align: center; border-color:black; margin-top:10px;">
          </div>

        <input type="text" class="form-control" name="surname"
          placeholder="Last name" id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family:'Times New Roman', Times, serif; text-align: center; border-color:black; margin-top:10px;">

          <input type="email" class="form-control" name="email"
          placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family:'Times New Roman', Times, serif; text-align: center; border-color:black; margin-top:10px;">
          
          <input type="text" class="form-control" name="subject"
          placeholder="Subject" id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family:'Times New Roman', Times, serif; text-align: center; color:black; border-color:black; margin-top:10px;">


         <textarea name="message" id="" cols="57" rows="7" style="border-color:black;
          margin-top:2.5rem; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; "></textarea>
          

           <div class="submitBtn" style="text-align: center; margin-top: 1rem; font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 10px;">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>


        </div>
    </div>
</div>