
<div class="container">
    <div class="row">
        <div class="col">
           

        </div>
    </div>
</div>


     <div class="container"> 
        <div class="row" >
            <div class="col-12 col-sm-6" id="resumeHeader"> 
                <p>Resume</p>
                <p id="workExpHeader">Work<br>Experience</p>
            </div> 
    </div>
    </div>

<div class="container"> 
    <div class="row" id="jobDescription1">
        <div class="col-12 col-ms-6"> 
         
            <div class="col"> 
                 <div id="grouping1">
                <p>2021 - Present</p>
                <p id="jobHeading2"> Software Developer Intern</p>
               
                </div>
            <p>

               I'm a software developer intern at App Factory<br> 
               Learning new skills and being hands on using the <br>
               Material Such as SQL-server, Transact-SQL and Javascript
              

            </p>
            <p>

                 <div id="grouping2">
                <p>2020 - March 2021</p>
                <p id="jobHeading1"> Future Innovation Lab</p>
               
                </div>

               Former student at future innovation for impact<br> 
               at UWC learning cutting edge progamming <br>
               languages in Digital Social innovation for impact <br>
               and introduction To multi-platform software development
               
            </p>

            <p>

                 <div id="grouping3">
                <p>2019 - August 2020</p>
                <p id="jobHeading1"> Call center agent</p>
               
                </div>
               Taking inbound and outbound calls dealing with<br> 
               With customer for delivery queries and defective <br>
               items
               and cumminicating with customer's via formal email<br>
                

            </p>
        </div>
        </div>
    </div>
</div>
     
